    * {
        margin: 0%;
        padding: 0;
    }

    body {
        background-color: rgb(17,3,32);
    }

    .contenedorInfoPelicula {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sectionInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "sinopsis reparto"
                            "reseñas reparto";
        margin-top: 50px;
        margin-bottom: 50px;
        color: #fff;
       
    }

    /* -----------sinopsis----------- */

    .sinopsis {
        grid-area: sinopsis;
        justify-content: center;
        align-items: center;
    }

    .sinopsis p {
        margin-bottom: 20px;
        font-size: 19px;
    }

    /* --------Comentarios------ */

    .reseñas {
        grid-area: reseñas;
        margin-top: 40px;
        padding: 30px;
        border: 1px solid #000;
        border-radius: 16px;
        background-color: rgb(44, 9, 82);
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 30px;
    }

    .comentario {
        display: flex;
        height: fit-content;
        margin-bottom: 10px;
    }

    .comentario .imgUsuario {
        justify-content: start;
        align-items: start;
        margin-right: 10px;
    }

    .comentario img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    .comentario h6 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .comentario p {
        font-size: 15px;
    }

    .comentario .comentarioUsuario {
        justify-content: end;
        align-items: center;
    }

    hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* -----------reparto-------- */

    .reparto {
        display: flex;
        grid-area: reparto;
        justify-content: center;
        flex-direction: column;
        padding-left: 80px;
    }

    .sectionReparto {
        width: 670px;
        overflow-x: scroll;
        display: flex;
        bottom: unset;
    }
    .reparto .cardReparto {
        width: 200px;
        height: fit-content;
    }

    .cardReparto{
        padding: 10px;
    }

    .cardReparto img{
        width: 150px;
        border-radius: 16px;
    }

    .cardReparto .nombreActor {
        text-align: center;
    }

    /* ---------------Similares------------------ */
    .sectionSimilares {
        background-color: #000;
        overflow-x: scroll; 
        overflow-y: hidden; 
        max-height: 100%;
    }
    
    .similares {
        width: 100%; 
        display: flex; 
        gap: 20px;
        padding: 10px 0; 
    }
    
    .card {
        flex: 0 0 auto; 
        width: 210px;
        height: fit-content;
    }
    
    .card img {
        width: 200px;
        height: 300px;
        border-radius: 5%;
    }
    
    .card .titulo {
        margin-top: 10px;
        font-size: 20px;
        color: #fff;
        padding: 1px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    .txtSimilares{
        color: white;
        font-size: 25px;
    }

    /* -----------responsive----------- */

    @media (max-width: 1100px) {
        .sectionInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .sectionReparto {
            width: 100%;
        }
        .reparto {
            padding-left: 20px;
        }
    }

/* ----- video youtube ---*/
.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
}



    /* --------- scrolls -------- */
    *::-webkit-scrollbar{
        height: 10px;
        width: 10px;
    }
    * ::-webkit-scrollbar-thumb{
        background-color: rgb(41, 41, 41);
        border-radius: 30px;
    }



    /* -------- Titulo --------- */
    .FrontText{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    
    .video_trailer_url{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .video_trailer{
        height: 320px;
        margin: 10px;
        
    }