input.browser {
    background-color: hsla(270, 89%, 7%, 0.671);
    border: none;
    width: 1000px;
    height: 45px;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 40px;
}

#btnBuscar{
    border-radius: 50%;
    background-color: hsla(270, 89%, 7%, 0.671);
    color: white;
    cursor: pointer;
}

.buscar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
}

input:hover {
    background-color: rgba(48, 4, 95, 0.493);

}

input:focus {
    background-color: rgba(269, 91%, 22%, 0.678);
    color: rgb(233, 233, 233);
    outline: none;
    
}

input::placeholder {
    color: rgba(233, 233, 233, 0.5);
    padding-left: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    z-index: 3;
    height: 150px;
    width: 350px;
    position: relative;
}

.imagen_fondo {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/en-gb-skms-rgb-vertical-4x5-pre-64427ced1f81c.jpg?crop=1.00xw:0.402xh;0,0.191xh&resize=1200:*");
    background-position: top center;
    background-size:  cover;
    background-repeat: no-repeat;
    width: 100%;
    height: var(--AltoBanner);
}

.nav{
    background-color: hsla(270, 89%, 7%, 0.671);
    height: 50px;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.logo_nav{
    height: 51px;
    width: 140px;
    display: flex;
    cursor: pointer;
}

ol{
    background-color: yellowgreen;
    display: flex;
    color: white;
    font-size: 30px;
    cursor: pointer;

}