*{
    margin: 0;
    padding: 0;
}
footer{
    text-align: center;
    background-color: black;
    height: auto;
    padding: 20px 0;
    display: flex;
    margin-top: 10px auto;
    width: 100%;
    position: relative;
    bottom: 0;  
}
.container{
    padding: 1rem;
    width: 105%;
}
.copy {
    color: #ffff;
    position: absolute;
    top: 160px;
    left: 46.5%;
    font-size: 15px;
}
.soporte{
    color: #ffff;
    position: absolute;
    top: 160px;
    left: 50%;
    font-size: 15px;
}
.redes{
    outline-style: none;
    cursor: pointer;
    height: 54px;
    margin: 1rem;
    padding: 1rem;
    float: left;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 30px;
}
#redes4 img{
    cursor: pointer;
    margin-right: 10px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
}
@media (max-width:1300px){
    footer{
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    .copy{
        top: 370px;
        left: 44.5%;
    }
    .soporte{
        top: 370px;
    }
    .redes{
        height: none;
        margin: 0px;
        padding: 0px;
        display: contents;

    }
    .container {
        padding: 9rem;
    }
    figure img{
        width: auto;
        height: 120px;
        margin-top: -60px;
    }
    #img-gmail{
        display: none;

    }
    #redes4 a{
        font-size: 35px;
    }
    .redes-responsive div img {
        width: 80px;
    }
    .text{
        font-size: 23px;
    }
    .redes-responsive{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: center;
    }
    .pret2{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:1024px){
    .copy {
        left: 43.5%;
    }
    .container{
        padding: 5rem;
    }
}
@media(max-width:912px){
    .copy {
        left: 42.5%;
        font-size: 16px;
    }
    .soporte{
        font-size: 16px;
    }
}
@media(max-width:820px){                                
    .copy {
        left: 40%;
        font-size: 18px;
    }
    .soporte{
        font-size: 18px;
    }
    .container {
        padding: 1rem;
    }
}
@media (max-width: 768px){
    .container {
        padding: 1rem;
    }
    .copy {
        left: 40%;
        font-size: 17px;
    }
    .soporte{
        font-size: 17px;
    }
}
@media(max-width:540px){                                
    .text {
        font-size: 16px;
    }
    #redes4 a {
        font-size: 28px;
    }
    .copy {
        left: 36.5%;
    }
    .redes-responsive div img {
        width: 70px;
    }
}

@media(max-width:455px){
        footer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 103px;
    }
    figure img{
        width: 135px;
        height: 60px;
    }
    .redes .text{
        display: none;
    }
    #img-gmail{
        display: none;
    }
    .redes-responsive div img {
        width: 35px;
        margin-left: 30px;
    }
    #redes4 a{
    font-size: 15px; 
    }
    .redes{
        height: auto;
        margin: 0px;
        padding: 0px;
        margin-inline: 0px;
        margin-left: 20px;
    }
    #redes1{
        margin-left: 40px;
    }
    .pret{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pret2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
    }
}
@media(max-width:414px){
    figure img {
    margin-top: -1px
    }
    .copy {
        top: 80%;
        left: 39%;
        font-size: 12px;
    }
    .soporte{
        top: 80%;
        left: 52%;
        font-size: 12px;
    }
    .container {
        margin-top: -30px;
    }
} 
@media(max-width:412px){
    figure img {
        margin-top: -1px
    }
    .copy {
        left: 38.5%;
    }
}
@media (max-width: 375px){
    .container {
        margin-top: -30px;
    }
    .copy {
        top: 80%;
        left: 37.5%;
        font-size: 12px;
    }
}   
@media(max-width:360px){
    .container {
         padding: 0;
    }
    figure img {
        margin-top: 1px
    }
    .copy {
        left: 37%;
    }   
}
@media (max-width:280px){
    .redes-responsive div img {
        width: 35px;
        margin-left: 10px;
    }
    .copy {
        left: 32.5%;
    }
}  