.paginador_componente{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    user-select: none;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 50px;
    gap: 10px;
}
.btnPaginador{
    background-color: #d9d9d9;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2e2e2e;
    border: none;
}

.btnPaginador img {
    width: 15px;
}

.paginadorAnterior {
    rotate: 180deg;
}
.btnPaginador:hover{
    background-color: rgb(231, 231, 231);
}
.btnPaginador:active{
    background-color: rgb(238, 238, 238);
}
.contador{
    color: #000000c5;
}
