
.containerVentas {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-tabla-ventas {
    overflow-x: auto;
}
table{
    background-image: url(../img/59331.png);
}
.venta {
    display: none;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    border: 1px solid #434343;
    border-radius: 16px;
}

.ventaInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.producto {
    text-decoration: none;
    color: blueviolet;
}

.precioVenta {
    color: rgb(87, 145, 0);
}

.productosVentas {
    display: flex;
    flex-direction: column;
}

.cantidadVentas {
    display: flex;
}

@media screen and (max-width: 900px) {
    .containerVentas {
        margin-left: 5%;
        margin-right: 5%;
    }

    .tabla-ventas {
        display: none;
    }
    .venta {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }
}